header{
    color: rgb(236, 236, 243);
    background-color: rgb(44, 40, 22);
    margin: 0px;
    display: block;
    text-align: center;
}
.Navbar{
    background-color: rgb(40, 89, 40);
    display: flex;
    border-radius: 50px;
    justify-content: space-between;
    margin: 1px; 
    padding: 5px; 
}
.Navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 1px;
    background-color: rgb(40, 89, 40);
    border-radius: 50px;
}
.Navbar ul li{
    padding: 12px;
    list-style: none;
    float: left;
}
.Navbar ul li a{
    color: aliceblue;
    text-decoration: none;
    margin: 2px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold; 
    }
.Navbar ul li a:hover{
    color: black;
    background-color: azure;
    border-radius: 10px;
}
.Navbar ul li ul{
    display: none;
}
ul li ul li{
    float: none;
}
li a, .dropbtn {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  li a:hover, .dropdown:hover .dropbtn {
    background-color: azure;
    color: black;
  }
  li.dropdown {
    display: block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    z-index: 1;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
} 
  .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    border-radius: 0px
}
.top-5pr{
  position: relative;
}
.top-5pr img{
 opacity: 1;
  width: 100%;
  top: 10%;
}
.top-5-prtxt{
  position: absolute;
  color: rgb(246, 240, 234);
  top: 10%;
  font-size: 20px;
  font-weight: bold;
}